@font-face {
  font-family: "dirooz";
  src: url("../public/font/Dirooz.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lalezar";
  src: url("../public/font/Lalezar-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "dirooz";
}
